
/************************************************************************************************************
 *																											*
 *				字典模板中内容的样式																		*
 *				说明：对于字典：																			*
 *						  DataGrid如果是两列的话，如：左树右列表，左列表右列表，则不需要改变Width			*
 *											      单表简单的用DataGrid维护，则Width自己设为581				*	
 *						  DataGrid是可编辑的话，那么DataGrid的每一个cell应该定制其Width，					*
 *												里面的编辑控件使用PubTxtStyle样式，Width定制				*
 ************************************************************************************************************/
/* 列表中输入框得到焦点样式 */
.ItemFocusTxt
{
	BORDER-RIGHT: #3167b1 1px solid;
	BORDER-TOP: #3167b1 1px solid;
	BORDER-LEFT: #3167b1 1px solid;
	BORDER-BOTTOM: #3167b1 1px solid;
	HEIGHT: 18px;
	CURSOR: hand;
}
/* 列表中输入框失去焦点，也可用作Label样式  */
.ItemTxt
{
	FONT-SIZE: 10pt;
	BORDER: #82AAD4 solid;
	BORDER-WIDTH: 1 1 1 1;
	PADDING-LEFT: 5px;
}
/* 用来显示的只读TextBox样式  */
.ReadOnlyItemTxt
{
	BORDER-RIGHT: 0px solid;
	BORDER-TOP: 0px solid;
	BORDER-LEFT: 0px solid;
	BORDER-BOTTOM: 0px solid;
	HEIGHT: 18px;
	CURSOR: hand;
	BACKGROUND-COLOR: transparent;
}
/* 列表中数字输入框得到焦点样式 */
.ItemFocusNumTxt
{
	BORDER-RIGHT: #3167b1 1px solid;
	BORDER-TOP: #3167b1 1px solid;
	BORDER-LEFT: #3167b1 1px solid;
	BORDER-BOTTOM: #3167b1 1px solid;
	TEXT-ALIGN: right;
	HEIGHT: 18px;
	CURSOR: hand;
}
/* 列表显示数字输入框中失去焦点样式 也可做数字形Label样式 */
.ItemNumTxt
{
	BORDER-RIGHT: 0px solid;
	BORDER-TOP: 0px solid;
	BORDER-LEFT: 0px solid;
	BORDER-BOTTOM: 0px solid;
	HEIGHT: 18px;
	TEXT-ALIGN: right;
	CURSOR: hand;
	BACKGROUND-COLOR: transparent;
}
/* 只读显示数字的TextBox样式  */
.ReadOnlyItemNumTxt
{
	BORDER-RIGHT: 0px solid;
	BORDER-TOP: 0px solid;
	BORDER-LEFT: 0px solid;
	BORDER-BOTTOM: 0px solid;
	HEIGHT: 18px;
	TEXT-ALIGN: right;
	CURSOR: hand;
	BACKGROUND-COLOR: transparent;
}
/*****************************************************************************************
 *						列表样式描述													 *
 ****************************************************************************************/
/* 列表整体描述 */
.Grid
{
	WIDTH: 100%;
	HEIGHT: 18px;
	BORDER: 0px solid #598CB7; /*(项目人员自行设置)列表表格最外边4条边的样式 1px（一个像素宽） solid（实线） ##598CB7 （颜色）*/
	BORDER-COLLAPSE: collapse;
}

.Grid Td
{
	OVERFLOW: hidden;
	PADDING: 0px 5px 0px 5px;
	TEXT-OVERFLOW: ellipsis;
	BORDER: solid 1px #598CB7; /*(项目人员自行设置)列表表格里边分割线样式*/
}
/* 列表的标题 */
.GridHeader
{
	FONT-SIZE: 9pt;
	word-break: keep-all;
	word-wrap: keep-all;
	HEIGHT: 22px;
	TEXT-ALIGN: center;
	POSITION: relative;
	TOP: expression(this.offsetParent.scrollTop);
	font-weight:bold;
}
.GridHeader Td,Th	
{
	WHITE-SPACE: nowrap;
	BACKGROUND: url(../Images/top_button_bg.gif);
}

/*能排序的列头*/
.GridHeader Td.HeaderSort
{
	BACKGROUND-IMAGE: url(../Images/top_button_bg.gif);
	CURSOR: hand;
	BEHAVIOR: url(../Css/Sort.htc);
}
.GridHeader Td.HeaderSortMouseDown
{
	BACKGROUND-IMAGE: url(../Images/top_button_bgminus.gif);
	CURSOR: hand;
	BEHAVIOR: url(../Css/Sort.htc);
}
/*能排序的列头*/
.GridHeaderItemFixed
{
	POSITION: relative;
	TOP: expression(lockhead(this));
}
/* 列表一般行 */
.GridItem
{
	HEIGHT: 20px;
	FONT-SIZE: 10pt;
	BORDER: #6C8ECB;
	BORDER-WIDTH: 1 1 1 1;
	PADDING-LEFT: 5px;
	TEXT-ALIGN: center;
	MARGIN-LEFT: 10px;
	BEHAVIOR: url(../Css/DicGridItem.htc);
}
.GridItem TD
{
	white-space:nowrap;
	word-break: break-all;/*必须*/
	word-wrap: keep-all;
}
/* 列表交替行 */
.GridItemAlternating
{
	HEIGHT: 20px;
	FONT-SIZE: 10pt;
	BORDER: solid #6C8ECB;
	BORDER-WIDTH: 1 1 1 1;
	PADDING-LEFT: 5px;
	TEXT-ALIGN: center;
	MARGIN-LEFT: 10px;
	BACKGROUND-COLOR: #E0EDFB;
	BEHAVIOR: url(../Css/DicGridItem.htc);
}
.GridItemAlternating TD
{
	white-space:nowrap;
	word-break: break-all;
	word-wrap: keep-all;
}
.GridItemEllipsis
{	
	width: 300;
	OVERFLOW: hidden;
	WHITE-SPACE: nowrap;
	TEXT-OVERFLOW: ellipsis;
	MARGIN-LEFT: 5px;
}
/* 列表一般行 */
.GridItemLeft
{
	HEIGHT: 20px;
	FONT-SIZE: 10pt;
	BORDER: solid #6C8ECB;
	BORDER-WIDTH: 1 1 1 1;
	PADDING-LEFT: 5px;
	TEXT-ALIGN: left;
	MARGIN-LEFT: 10px;
	PADDING-LEFT: 10px;
}
/* 列表的标题 */
.GridHeader1
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
	TEXT-ALIGN: center;
	COLOR: #666666;
	BACKGROUND-COLOR: #ffffff;
	BACKGROUND: url(../Images/top_button_bg.gif);
}
/* 列表一般行 */
.GridItem1
{
	FONT-SIZE: 10pt;
	BORDER: solid #ffffff;
	BORDER-WIDTH: 1 1 1 1;
	PADDING-LEFT: 5px;
	TEXT-ALIGN: left;
}
/* 列百分比 */
.GridItem40
{
	WIDTH: 40%;
	HEIGHT: 20px;
	FONT-SIZE: 10pt;
	TEXT-ALIGN: left;
}
.table_Hetr
{
	HEIGHT: 22px;
	TEXT-ALIGN: center;
	POSITION: relative;
	FONT-WEIGHT: bold;
	TOP: expression(this.offsetParent.scrollTop);
	BACKGROUND: url(../Images/top_button_bg.gif);
}
/* 子Grid样式 */
.Grid Td Table Td
{
    OVERFLOW: hidden;
	PADDING: 0px 0px 0px 0px;
	TEXT-OVERFLOW: ellipsis;
	BORDER: solid 0px #598CB7; /*(项目人员自行设置)列表表格里边分割线样式*/
}

