body
{
}
.graytable
{
	border: 1 solid #CCCCCC;
	padding-left: 3px;
	text-align: right;
	width: 100%;
	background-color: #E9F2F8;
}
.contentTD
{
	border-left: 0 solid #CCCCCC;
	border-right: 1 solid #CCCCCC;
	border-top: 0 solid #CCCCCC;
	border-bottom: 1 solid #CCCCCC;
	padding-left: 3px;
	text-align: left;
	width: 80%;
	font-size: 12px;
}
.contentTDFour
{
	border-left: 0 solid #CCCCCC;
	border-right: 1 solid #CCCCCC;
	border-top: 0 solid #CCCCCC;
	border-bottom: 1 solid #CCCCCC;
	padding-left: 3px;
	text-align: left;
	width: 30%;
	font-size: 12px;
}
.titleTD
{
	border-left: 0 solid #CCCCCC;
	border-right: 1 solid #CCCCCC;
	border-top: 0 solid #CCCCCC;
	border-bottom: 1 solid #CCCCCC;
	padding-left: 3px;
	color: #5C5C5C;
	text-align: right;
	background-image: url(../images/bg.png);
	width: 20%;
	height:30px;
	font-size: 13px;
	font-weight: bold;
}
.titleTDLong
{
	border-left: 0 solid #CCCCCC;
	border-right: 1 solid #CCCCCC;
	border-top: 0 solid #CCCCCC;
	border-bottom: 1 solid #CCCCCC;
	padding-left: 3px;
	text-align: right;
	background-image: url(../images/bg2.png);
	width: 20%;
	font-size: 13px;
	font-weight: bold;
}
.input_edit
{
    height: 20px;
    width: 90%;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}
.inputBlue_edit
{
	height:25px;
	width: 95%;
	vertical-align:middle;
    margin:1px 1px 1px 1px;
    border:solid 1px #b7ddf2
}
